@import 'fonts.scss';
@import 'normalize.scss';
@import 'breakpoints.scss';
@import 'helpers.scss';
@import 'common.scss';

html {
  font-size: 10px;
}
body {
  margin: 0;
  font-family: 'SF Pro Text', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // text-rendering: optimizelegibility;
}
button {
  font-family: 'SF Pro Text', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
}
